---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import {
  contentfulClient,
  type Person,
  type Project,
  type Experience,
} from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import ThemeToggle from "../components/ThemeToggle.astro";
import Socials from "../components/Socials.astro";

const [userResponse, projectsResponse, experiencesResponse] = await Promise.all(
  [
    contentfulClient.getEntries<Person>({
      content_type: "person",
    }),
    contentfulClient.getEntries<Project>({
      content_type: "project",
    }),
    contentfulClient.getEntries<Experience>({
      content_type: "experience",
    }),
  ]
);
1;

const person = userResponse.items[0].fields;
const projects = projectsResponse.items.map((item) => item.fields);
const experiences = experiencesResponse.items.map((item) => item.fields);

// @ts-ignore
const imageUrl = person?.image.fields.file.url;
---

<Layout person={person}>
  <header class="flex flex-row-reverse"><ThemeToggle /></header>
  <main id="top" class="">
    <section class="md:p-8">
      <div
        class="flex flex-col md:flex-row justify-around items-center gap-6 p-3"
      >
        <div
          class="md:hidden h-36 w-36 rounded-[50%] overflow-hidden flex justify-center items-center shadow-2xl"
        >
          <Image src={imageUrl} alt={person.name} height={144} width={144} />
        </div>
        <div>
          <h1>
            <span class="text-lg">Hey 👋 I'm</span>
            <span
              class="block text-4xl md:text-5xl lg:text-6xl font-bold name-gradient"
              >{person.name}
            </span>
          </h1>
          <p class="text-lg max-w-md pr-2">{person.shortBio}</p>
          <a
            class="mt-3 text-base flex w-fit items-center hover:text-purple-600"
            href="/resume.pdf"
            target="_blank"
            >View my resume <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="ml-2"
              ><path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path><polyline points="15 3 21 3 21 9"></polyline><line
                x1="10"
                y1="14"
                x2="21"
                y2="3"></line></svg
            ></a
          >
          <Socials person={person} />
        </div>
        <Image
          class="hidden md:block rounded-3xl shadow-2xl w-72 lg:w-96"
          src={imageUrl}
          alt={person.name}
          height={556}
          width={417}
        />
      </div>
    </section>
  </main>
</Layout>
