---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import {
  contentfulClient,
  type Person,
  type Project,
  type Experience,
} from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import ThemeToggle from "../components/ThemeToggle.astro";

const [userResponse, projectsResponse, experiencesResponse] = await Promise.all(
  [
    contentfulClient.getEntries<Person>({
      content_type: "person",
    }),
    contentfulClient.getEntries<Project>({
      content_type: "project",
    }),
    contentfulClient.getEntries<Experience>({
      content_type: "experience",
    }),
  ],
);
1;

const person = userResponse.items[0].fields;
const projects = projectsResponse.items.map((item) => item.fields);
const experiences = experiencesResponse.items.map((item) => item.fields);

// @ts-ignore
const imageUrl = person?.image.fields.file.url;
---

<Layout person={person}>
  <header class="flex flex-row-reverse"><ThemeToggle /></header>
  <main id="top" class="">
    <section class="md:p-8 text-2xl">
      <div
        class="flex flex-col md:flex-row justify-around items-center gap-5 p-3"
      >
        <div class="">
          <h1>
            Hey 👋 I'm
            <span
              class="block text-4xl md:text-5xl lg:text-6xl font-bold name-gradient"
              >{person.name}
            </span>
          </h1>
          <p class="max-w-lg">{person.shortBio}</p>
        </div>
        <Image
          class="rounded-3xl shadow-2xl w-72 lg:w-96"
          src={imageUrl}
          alt={person.name}
          height={556}
          width={417}
        />
      </div>
    </section>
  </main>
</Layout>
